# SPDX-License-Identifier: Apache-2.0

menu "Boards Software Configuration"

source 'boards/pic64gx-curiosity-kit/Kconfig'

endmenu

menu "Linker Script"

config MEMORY
    string
    prompt "Choose the memory target for the binary"
    default "lim"
    help
        Choose the memory target and linker script for the project. Possible
        values: lim, ddr, envm, scratchpad

config APPLICATION_STACK_SIZE
    int
    prompt "Application Stack Size"
    default 8192

config APPLICATION_HEAP_SIZE
    int
    prompt "Application Heap Size"
    default 8192

config APPLICATION_RAM_SIZE
    int
    prompt "Set the length of the RAM"
    default 32768

endmenu
